<!-- This section is to be edited by betty after a layout and index is fixed -->
<!-- THis template was meant to implement the single event details page. Check schema for more info -->
<!-- 
{% extends '_layout.html' %}

{% block body %}
<h3 class="mt-4">Event Details</h3>
<u1>
    <li>Event - {{ event.title }}</li>
    <li>Date - {{ event.start_time }}</li>
    <li>Details - {{ <event.description}}</li>
    <li>Organizer - {{ event.organizer }}</li>
    <li>Comments - {{ event.comment }}</li>
    <li>Reactions - {{ event.reaction_type }}</li>
</u1>
{% endblock %}
-->