{% extends '_layout.html' %}

{% block title %}Event Details{% endblock %}

{% block body %}

<style>
    iframe {
        display: block;
        border-style:none;
        margin: 0 auto;
    }

</style>


<div class="col-12 text-center mt-3">
    <h2>Event Details</h2>
</div>

<ul class="list0inline text-center" style="list-style-type:none;">
    <li>Event ID: {{ event.event_id }}</li>
    <li>Name: {{ event.event_name }}</li>
    <li>Description: {{ event.event_description }}</li>
    <li>Start Time: {{ event.start_time }}</li>
    <li>End Time: {{ event.end_time }}</li>
    <li>Address: {{ event.event_address }}</li>
</ul>
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDUNewuSDlRLem-I3kcBnvU6467VleNicM
    &q=' + {{ event.event_address }}'">
</iframe>

{% endblock %}