{% extends '_layout.html' %}

{% block title %}Name of Website | Event{% endblock %}

{% block body %}
<head>
<h1 class="mb-5">{{ event.name }}</h1>
</head>
<!--Update more of this during sprint 3, for now this is a good base. -->
<body>
<p>Event Time: {{ event.time }} </p>
<p>Location: {{ event.location }} </p>
<p>To adjust the event time, location, or users, please go to the following sections: </p>
<button type="submit" class="btn btn-primary">Edit</button>
<button type="submit" class="btn btn-primary">Delete</button>
</body>

{% endblock %}
