{% extends '_layout.html' %}

{% block title %}Create Event Map{% endblock %}

{% block body %}

    <h2>Geocoding Service</h2>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>
    <div id="map"></div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
      <div class="mb-3">
        <label for="user_address" class="form-label">Address (WIP - need GOOGLE MAP API)</label>
        <input type="text" class="form-control" id="user_address" name="user_address" required
            placeholder="Enter event address">
    </div>
    <h3>user_address</h3>
    <button type="submit" class="btn btn-primary">Submit</button>


      <a href=/events/new>
        <input type="button" value="finish event" />
     </a>
      
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUNewuSDlRLem-I3kcBnvU6467VleNicM&callback=initMap&v=weekly"
      defer
    ></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUNewuSDlRLem-I3kcBnvU6467VleNicM&callback=initMap"
    type="text/javascript"></script>

{% endblock %}
