{% extends '_layout.html' %}

{% block title %}Event List{% endblock %}

{% block body %}

<div class="text-center mt-3">
    <h2>Event List</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Event ID</th>
            <th>Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td><a href="/events/{{ event.event_id }}">{{ event.event_id }}</a></td>
            <td>{{ event.event_name }}</td>
            <td>{{ event.start_time }}</td>
            <td>{{ event.end_time }}</td>
            <td>{{ event.event_address }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </ul>

{% endblock %}