{% extends '_layout.html' %}

{% block title %}Host Login{% endblock %}


{%block body%}
<div class="col-12 text-center mt-3">
    <h2>Login</h2>
</div>
<form action="/login" method="POST">
    <div class="mb-3">
        <label for="user_email" class="form-label">Email</label>
        <input type="user_email" class="form-control" id="user_email" name="user_email">
    </div>
    <div class="mb-3">
        <label for="user_password" class="form-label">Password</label>
        <input type="user_password" class="form-control" id="user_password" name="user_password" required placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>

    {%endblock%}